.checkout-container {
  //width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0;
  padding: 0 40px;

  table {
    width: 100%;
    thead {
      border-top: 1px solid #ecd400;
      background-color: #000;
      color: #ecd400;
    }

    td,
    th {
      width: 20%;
      justify-content: center;
      display: flex;
    }
  }

  @media (max-width: 767px) {
    //width: 85%;
    font-size: 12px;
    padding: 0 20px;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;

    .header-block {
      text-transform: capitalize;
      //width: 23%;

      @media (max-width: 767px) {
        text-align: center;
        font-size: 11px;
      }

      &:last-child {
        // width: 8%;
        @media (max-width: 767px) {
          //width: 23%;
        }
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
