@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
h2 {
  font-size: 1.8rem;
  font-weight: 900;
}

.fa-container {
  width: 100%;
  padding: 20px 40px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1400px) {
    width: 1220px;
  }
  @media (min-width: 1200px) {
    width: 1160px;
  }
  @media (min-width: 992px) {
    width: 936px;
  }
  @media (min-width: 768px) {
    width: 696px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

h1.title {
  font-size: 2.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* opacity: 0.5; */
  color: hsl(0deg 2% 53% / 16%);
  margin-top: 20px;
  span {
    color: #be133c;
    top: -81px;
    position: relative;
    font-size: 38px;
    letter-spacing: 3px;
  }
  em {
    color: #000;
    font-style: normal;
  }
}
